




* {
  font-family: Arial, Helvetica, sans-serifß;
}

p {
  display: inline;
  font-size: 13px;
  margin-bottom: 5px !important;
}

h3 {
  display: inline;
  font-size: 18px;
  font-weight: lighter;
}

button {
  height: 45px;
  font-size: 14px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(28, 245, 180, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border-color: #ccc;
  background-color: rgba(129, 169, 148, 0.222);
  height: 800px;
  margin-top: 60px !important;
  margin: 30px;
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 30px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-areas:
    "t . . c . ."
    "m . . . . . "
    ". . . . . . "
    ". . . . . ."
    ". . . . . . "
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";

  font-family: Arial !important;
}

.main-content {
 width:100%;
grid-area: m;
z-index: -1;
}

.notepad-title {
  grid-area: t;
  width: 100%;
}

.title-btns {
  grid-area: b;
  display: inline;
  align-self: center;
  justify-self: end;
}

.note-title {
  grid-area: n;
  align-self: end;
}

.note {
  grid-area: o;
  width: 100%;
}

.add-btn {
  grid-area: a;
  align-self: center;
}

.first-note-title {
  grid-area: f;
}

.delete-btn {
  grid-area: d;
  margin-right: 10px !important;
}

.first-note {
  grid-area: fn;
}

.input-title {
  width: 100%;
  height: 40px;
  border-color: #ccc;
  border-radius: 4px;
  padding-left: 8px;
  align-self: end;
}

.input-note {
  width: 100%;
  height: 150px;
  border-color: #ccc;
  border-radius: 4px;
  padding-left: 8px;
}
.reddit-image {
  width: 100px;
  height: 100px;
  grid-area: t;
}

.cnbc-image {
  width: 100px;
  height: 100px;
  grid-area:c ;
}
.reddit {
  border-radius: 5px;
  border-color: #ccc;
  font-weight: bolder;
  width: 100%;
  height: auto;
}

.cnbc {
  border-radius: 5px;
  border-color: #ccc;
  font-weight: bolder;
  width: 100%;
  height: auto;
}

.save-btn {
  background-color: #39acdc;
  border-radius: 5px;
  border-color: #ccc;
  font-weight: bolder;
  color: #fff;
  margin-right: 7px;
  margin-left: 7px;
  width: 90px;
}

.del-btn {
  background-color: #ec3646;
  border-radius: 5px;
  border-color: #ccc;
  font-weight: bolder;
  color: #fff;
  width: 90px;
}

.add-button {
  background-color: #57b93e;
  border-radius: 5px;
  border-color: #ccc;
  font-weight: bolder;
  color: #fff;
  width: 90px;
  align-self: end;
}

/*  Media Queries */

@media (max-width: 980px) {
  .card {
    grid-template-areas:
      "t t t t t t t t t t t t"
      "b b b b b b b b b b b b"
      "n n n n n n n n n n n n"
      "o o o o o o o o o o o o"
      "a a . . . . . . . . . ."
      "f f f f f f f f f f f f"
      "fn fn fn fn fn fn fn fn fn fn fn fn "
      "d d . . . . . . . . . .";

    grid-template-rows: 80px 80px 90px 150px 60px 60px 160px 60px;
  }

  @media (max-width: 600px) {
    .card {
      grid-template-areas:
        "t t t t t t t t t t t t"
        "b b b b b b b b b b b b"
        "n n n n n n n n n n n n"
        "o o o o o o o o o o o o"
        "a a . . . . . . . . . ."
        "f f f f f f f f f f f f"
        "fn fn fn fn fn fn fn fn fn fn fn fn "
        "d d . . . . . . . . . .";
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 1px;
    }
    .notepad-title {
      grid-area: t;
      width: 100% !important;
    }

    .title-btns {
      grid-area: b;
      display: inline;
      align-self: center;
      justify-self: center;
    }

    .stats-btn {
      background-color: #fff;
      border-radius: 5px;
      border-color: #ccc;
      font-weight: bolder;
      width: 90px;
    }

    .save-btn {
      background-color: #39acdc;
      border-radius: 5px;
      border-color: #ccc;
      font-weight: bolder;
      color: #fff;
      margin-right: 7px;
      margin-left: 7px;
      width: 80px;
    }

    .del-btn {
      background-color: #ec3646;
      border-radius: 5px;
      border-color: #ccc;
      font-weight: bolder;
      color: #fff;
      width: 80px;
    }
  }

  @media (max-width: 420px) {
    .card {
      grid-template-areas:
        "t t t t t t t t t t t t"
        "b b b b b b b b b b b b"
        "n n n n n n n n n n n n"
        "o o o o o o o o o o o o"
        "a a . . . . . . . . . ."
        "f f f f f f f f f f f f"
        "fn fn fn fn fn fn fn fn fn fn fn fn "
        "d d . . . . . . . . . .";

      grid-template-rows: 80px 90px 90px 150px 60px 60px 160px 60px;
    }
    .title-btns {
      grid-area: b;
      display: block;
      justify-self: start !important;
      width: 100%;
    }

    .stats-btn {
      background-color: #fff;
      border-radius: 5px;
      border-color: #ccc;
      font-weight: bolder;
      width: 82px !important;
    }

    .save-btn {
      background-color: #39acdc;
      border-radius: 5px;
      border-color: #ccc;
      font-weight: bolder;
      color: #fff;
      margin: 0 !important;
      width: 47px !important;
    }

    .del-btn {
      background-color: #ec3646;
      border-radius: 5px;
      border-color: #ccc;
      font-weight: bolder;
      color: #fff;
      width: 50px !important;
    }
  }

  .notepad-title {
    grid-area: t;
    width: 100%;
  }

  .title-btns {
    grid-area: b;
    display: inline;
    align-self: center;
    justify-items: start;
    width: 100%;
  }

  .note-title {
    grid-area: n;
    align-self: start !important;
  }

  .note {
    grid-area: o;
    width: 100%;
    align-self: start !important;
  }
}
