@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;

 
}

a {
  display: inline;
  font-family: "Roboto", sans-serif;
}

p {
  display: inline;
  font-size: 13px;
  margin-bottom: 5px !important;
}

h3 {
  display: inline;
  font-size: 18px;
  font-weight: lighter;
}

button {
  height: 45px;
  font-size: 14px;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

.container {
  height: 100%;
  width: auto;
}
.main {
  width: 100%;
  background-color: rgb(0, 121, 211) !important;
}

.crypto {
  background-color: rgb(14, 14, 15) !important;
  color: aliceblue !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: small;

}




.reddit-image {
  width: 100px;
  height: 100px;
  grid-area: t;
}

.cnbc-image {
  width: 100px;
  height: 100px;
  grid-area: c;
}
.reddit {
  border-radius: 5px;
  border-color: #ccc;
  font-weight: bolder;
  width: 100%;
  height: auto;
}

.cnbc {

    width: 100%;
    background-color: rgb(205, 0, 75) !important;
  }

